@import "src/styles/variables.scss";

.privacy-policy {
  .content {
    margin: auto;
    padding: 20px 0;
    width: 50%;
    display: block;
    text-align: left;
  }
  p,
  li,
  a {
    color: $lightGrey;
  }
}
