@import "src/styles/variables.scss";

.terms-and-conditions {
  .content {
    display: block;
    text-align: left;
    margin: auto;
    padding: 20px 0;
    width: 50%;
    p,
    li {
      color: $lightGrey;
    }
  }
}
