$darkGrey: #252525;
$lightGrey: #9b9b9b;
$lightestGrey: #d8d8d8;
$purple: #8367d8;
$offWhite: #fafafa;
$white: #fcfcfc;
$red: #cc0000;
$blue: #0066cc;
$lilac: #f1eff9;
$lightBeige: #f5f2e6;
$beige: #ab944e;
$darkGreen: #6CC047;
$Lato-Bold: 700;
$Lato-Light: 300;
