@import "../../styles/variables";

.overview-page {
  color: $darkGrey;
  .notification-message {
    margin: 8px 0;
    padding: 1em 10em;
    text-align: left;
    font-weight: $Lato-Bold;
  }
  .valid-amount {
    background-color: $lilac;
    color: $purple;
  }
  .invalid-amount {
    background-color: $lightBeige;
    color: $beige;
  }
  .input-error {
    color: $red;
    background-color: $offWhite;
  }
  .header {
    letter-spacing: 0.56px;
    height: 64px;
    font-size: 16px;
    background-color: $offWhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-navigate {
      margin: 0 10em 0 0;
    }
    .header-item-name {
      margin: 0 4em 0 10em;
    }
  }
  .product-information {
    text-align: left;
    margin: 0 10em;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 30px;
    .content {
      width: calc(100% / 2);
      .input-fields {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    h1 {
      margin-bottom: 10px;
    }
    span {
      font-weight: $Lato-Bold;
      color: $purple;
    }
    p {
      color: $darkGrey;
    }
    .starts-from {
      color: $purple;
      font-weight: $Lato-Light;
    }
    .information-block {
      margin-top: 20px;
      margin-bottom: 30px;
      display: inline-block;
      border: 1px solid $lightestGrey;
      padding: 0 1.5em;
    }
    .tab {
      margin-bottom: 50px;
    }
  }
  .popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role="tooltip"].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }

  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup="tooltip"].popup-overlay {
    background: transparent;
  }
  .pay-button {
    margin: 50px 0;
  }
}
