@import "src/styles/variables.scss";

.input-field {
  display: block;
  width: 96%;
  height: 30px;
  border: 1px solid $lightestGrey;
  box-sizing: content-box;
  padding: 2%;
  color: $darkGrey;
  letter-spacing: 0.2px;
  margin: 15px 0;
  background-color: $white;
}

.input-field::placeholder {
  color: $lightGrey;
  letter-spacing: 0.2px;
}

.input-field:focus {
  outline-color: $darkGrey;
}

.width-60 {
  width: 60%;
}
