@import "../../styles/variables";

.landing-page {
  .top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $offWhite;
    .categories-list {
      font-size: 16px;
      text-align: left;
      margin-left: 10em;
      li {
        cursor: pointer;
        color: $darkGrey;
        border-bottom: 1px solid $lightestGrey;
        width: 261px;
        height: 56px;
        line-height: 56px;
      }
    }
    ul[title]::before {
      content: attr(title);
      display: block;
      font-weight: $Lato-Bold;
      color: $purple;
      margin: 10px 0;
    }
    ul {
      list-style-type: none;
      background-color: white;
    }
  }
  .new-arrivals {
    font-weight: $Lato-Bold;
  }
}
.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10em 50px;
}
