@import "src/styles/variables.scss";

.nav-white {
  margin: 0 10em;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  .logged-app-logo {
    height: 25px;
    cursor: pointer;
  }
  .nav-list {
    list-style-type: none;
  }
  ul li {
    display: inline;
  }
  li {
    padding: 1em;
    cursor: pointer;
    font-weight: $Lato-Light;
    letter-spacing: 0.235px;
  }
  li:hover {
    color: $purple;
    font-weight: $Lato-Bold;
    letter-spacing: 0;
  }
}
