@import "src/styles/variables.scss";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 7px 25px;
  .btn-text {
    font-weight: $Lato-Bold;
    font-size: 16px;
  }
  .btn-icon {
    font-size: 16px;
    padding: 0.5em;
  }
}

.btn-primary {
  background-color: $purple;
  border: none;
  color: white;
  padding: 15px 30px;
}
.btn-secondary {
  border: 3px solid $purple;
  background-color: white;
  color: $purple;
  .btn-icon {
    filter: invert(49%) sepia(54%) saturate(3719%) hue-rotate(228deg)
      brightness(91%) contrast(85%);
  }
}

.btn-tertiary {
  border: 3px solid #d8d8d8;
  background-color: white;
  color: $purple;
  .btn-icon {
    filter: invert(49%) sepia(54%) saturate(3719%) hue-rotate(228deg)
      brightness(91%) contrast(85%);
  }
}

.btn-go-back {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.btn-full-width {
  width: 100%;
}

.padding-max {
  padding: 10px 40px;
}

.text-dark {
  color: $darkGrey;
  .btn-icon {
    filter: brightness(0) saturate(100%) invert(0%) sepia(2%) saturate(4537%)
      hue-rotate(336deg) brightness(109%) contrast(71%);
  }
}

.padding-10 {
  padding: 10px 25px;
}
