@import "src/styles/variables.scss";

.dropdown-row{
    color: $darkGrey;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    border-top: 1px solid $lightestGrey;
    .row{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 70px;
        img{
            width: 65px;
            height: 65px;
            border: 1px solid $lightestGrey;
        }
        .text{
            padding-left: 5px;
            .line{
                padding-bottom: 2px;
            }
            .item-name{
                font-weight: $Lato-Bold;
            }
                .link{
                    color: $purple;
                    cursor: pointer;
                    font-weight: $Lato-Bold;
                }
                .time{
                    font-size: 10px;
                    color: $lightGrey;
                }
        }
    }
}

.dropdown-row:hover {
    background-color: rgba($color: $lightestGrey, $alpha: 0.3);
  }