@import "src/styles/variables.scss";

.table-row {
  font-weight: $Lato-Bold;
  padding: 100px 0;
  cursor: pointer;
  td {
    padding: 25px 25px 25px 0;
  }
  td:first-child {
    padding: 25px 0 25px 25px;
  }
  .width-10 {
    width: 10%;
  }
  img {
    width: 80px;
    height: 80px;
  }
  .width-32 {
    width: 32%;
  }
  .width-12 {
    width: 12%;
  }
  .highest-bid {
    color: $blue;
  }
}
.table-row:hover {
  background-color: $lightestGrey;
}
