@import "../../styles/variables";

.tabs {
  border-bottom: 3px solid $lightGrey;
  padding-left: 0;
  margin-left: 10em;
  margin-right: 10em;
  text-align: left;
  margin-top: 30px;
  button {
    background: none;
    border: none;
  }
  .tab-list-active {
    border: solid $purple;
    border-width: 0 0 3px 0;
    font-weight: $Lato-Bold;
  }
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -3px;
    padding: 0.5rem 1rem;
    font-size: 18px;
    color: $darkGrey;
    cursor: pointer;
  }
}

.secondary {
  .tabs {
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
    .tab-list-active {
      border-width: 0 0 1px 0;
    }
    .tab-list-item {
      margin-bottom: -1px;
      color: $purple;
    }
  }
  .content {
    color: $lightGrey;
    margin-top: 25px;
  }
}
