@import "../../styles/variables";

.tabs {
  border-bottom: 3px solid $lightGrey;
  padding-left: 0;
  margin-left: 10em;
  margin-right: 10em;
  text-align: left;
  margin-top: 30px;
  button {
    background: none;
    border: none;
  }
  .tab-list-active {
    border: solid $purple;
    border-width: 0 0 3px 0;
    font-weight: $Lato-Bold;
  }
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -3px;
    padding: 0.5rem 1rem;
    font-size: 18px;
    color: $darkGrey;
    cursor: pointer;
  }
}

.secondary {
  .tabs {
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
    .tab-list-active {
      border-width: 0 0 1px 0;
    }
    .tab-list-item {
      margin-bottom: -1px;
      color: $purple;
    }
  }
  .content {
    color: $lightGrey;
    margin-top: 25px;
  }
}

.tertiary {
  .tabs {
    border: none;
    padding-left: 0;
    margin: 30px 10em 50px 10em;
    text-align: left;
    .tab-list-item {
      padding: 1rem 1rem;
      color: $darkGrey;
      line-height: 20px;
      img {
        padding-right: 1rem;
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .tab-list-active {
      border: none;
      background-color: $purple;
      color: white;
      font-weight: 400;
      img {
        filter: invert(100%) sepia(25%) saturate(0%) hue-rotate(62deg)
          brightness(106%) contrast(101%);
      }
    }
  }
}

.quaternary {
  .tabs {
    border: none;
    padding-left: 0;
    margin: 30px 10em 0;
    .tab-list-item {
      width: 80px;
      height: 40px;
      color: $darkGrey;
      margin: 0;
      padding: 0;
    }
    .tab-list-active {
      border: none;
      background-color: $purple;
      color: white;
      font-weight: 400;
    }
  }
}
