@import "src/styles/variables.scss";

.shop-page {
  .did-you-mean {
    text-align: left;
    padding: 15px 10em 15px calc(17em + 250px);
    background-color: $offWhite;
    color: $lightGrey;
    span {
      padding: 0 10px;
      color: $purple;
      cursor: pointer;
    }
  }
  .item-not-found {
    padding: 5em 0 1em;
    height: calc(100vh - 480px);
  }
  .content {
    margin: 0 10em;
    padding-top: 30px;
    .forms {
      width: 200px;
      float: left;
      border: 1px solid $lightestGrey;
      letter-spacing: 0.49px;
      font-size: 16px;
      padding: 10px 25px;
      box-shadow: 2px 2px 0 0 $lightestGrey;
      ul {
        width: 200px;
        padding: 0;
        text-align: left;
        list-style-type: none;
        li {
          color: $lightGrey;
          padding-bottom: 15px;
        }
      }
      ul[title]::before {
        content: attr(title);
        color: $purple;
        font-weight: $Lato-Bold;
        display: block;
        padding-bottom: 15px;
      }
    }
    .sort-products {
      .sort {
        margin-left: calc(250px + 7em);
        margin-bottom: 50px;
      }
      .products {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-start;
        padding-left: 7em;
        .button {
          margin: auto;
          padding-bottom: 30px;
          display: inline-block;
        }
      }
    }
  }
}
