@import "src/styles/variables.scss";

.shop-page {
  margin: 0 10em;
  .item-not-found {
    padding: 5em 0 1em;
  }
  .content {
    padding-top: 30px;
    .forms {
      float: left;
      border: 1px solid $lightestGrey;
      letter-spacing: 0.49px;
      font-size: 16px;
      padding: 10px 25px;
      box-shadow: 2px 2px 0 0 $lightestGrey;
      ul {
        width: 200px;
        padding: 0;
        text-align: left;
        list-style-type: none;
        input[type="checkbox"] {
          margin-right: 10px;
          appearance: none;
          background-color: #fff;
          width: 15px;
          height: 15px;
          border: 2px solid $purple;
          border-radius: 2px;
          display: inline-grid;
          place-content: center;
        }

        input[type="checkbox"]::before {
          content: "";
          width: 10px;
          height: 10px;
          transform: scale(0);
          transform-origin: bottom left;
          background-color: #fff;
          clip-path: polygon(
            13% 50%,
            34% 66%,
            81% 2%,
            100% 18%,
            39% 100%,
            0 71%
          );
        }

        input[type="checkbox"]:checked::before {
          transform: scale(1);
        }
        input[type="checkbox"]:checked {
          background-color: $purple;
          border: 2px solid $purple;
        }

        li {
          color: $lightGrey;
          padding-bottom: 15px;
        }
      }
      ul[title]::before {
        content: attr(title);
        color: $purple;
        font-weight: $Lato-Bold;
        display: block;
        padding-bottom: 15px;
      }
    }
    .products {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-start;
      padding-left: 7em;
      .button {
        margin: auto;
        padding-bottom: 30px;
        display: inline-block;
      }
    }
  }
}
