@import "src/styles/variables.scss";

.add-item-page {
  color: $darkGrey;
  margin: 40px 0;
  .error-message {
    font-size: 16px;
    color: $red;
    border-bottom: 1px solid $lightestGrey;
    font-weight: $Lato-Bold;
    padding: 5px 25px;
  }
  .dropdowns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 0;
    div {
      .css-b62m3t-container {
        margin-bottom: 10px;
      }
    }
  }
  p {
    text-align: right;
    margin: 0;
    padding: 0;
  }
  .price-input-div {
    display: flex;
    align-items: center;
    .dollar-sign {
      padding: 2% 4%;
      height: 30px;
      font-size: 18px;
      background-color: $white;
      border: 1px solid $lightestGrey;
      border-right: 0;
    }
  }
  .input-dates {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px 0 5px;
  }
  .end-time-info {
    text-align: left;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .city-zip {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .item {
      width: 45%;
      .input-field {
        width: 90%;
        padding: 5%;
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    .buttons-right {
      display: flex;
      button {
        margin-left: 20px;
      }
    }
  }
}
